<div class="page-container welcome-page">
  <h1>Hello, Rails!</h1>
  <%= render_navigation(context: :desktop) %>
  <div class="welcome-word">
    <span>Welcome to Biao Tian's website!</span>
  </div>
</div>
