html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  h1 {
    color: red;
    font-size: 30px;
    margin: 0;
    padding: 20px;
  }

  .navigation {
    background: greenyellow;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
    opacity: 0.8;

    .navigation-item {
      display: inline-block;
      margin-right: 20px;
    }

    a {
      font-weight: bold;
      text-decoration: none;
    }

    a:hover {
      color: red;
    }
  }

}

.page-container {
  padding: 0 150px;
}
