.welcome-page {
  background: url("home.jpg") no-repeat center center fixed;
  height: 100%;
  width: auto;

  .welcome-word {
    padding-top: 300px;
    text-align: center;

    span {
      font-size: 58px;
      color: white;
    }
  }


}
